body {
  <style>
  @import 'https://fonts.googleapis.com/css?family=Metal+Mania';
  </style>
}
body {
  text-align: center;
}
body {
  color: white;
  background-color: black;
}
h1 {
  color: yellow
}
<style>
BODY {SCROLLBAR-FACE-COLOR: #D4D0C8; SCROLLBAR-HIGHLIGHT-COLOR: #999999; SCROLLBAR-SHADOW-COLOR: #999999; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR:  #000000; SCROLLBAR-TRACK-COLOR: #E3E3E3; SCROLLBAR-DARKSHADOW-COLOR: #666666; }
</style>
<style>
a:link    {color:yellow; background-color:transparent; text-decoration:none}
a:visited {color:red; background-color:transparent; text-decoration:none}
a:hover   {color:green; background-color:transparent; text-decoration:underline}
a:active  {color:magenta; background-color:transparent; text-decoration:underline}
</style>
