body {
  <style>
  @import 'https://fonts.googleapis.com/css?family=Metal+Mania';
  </style>
}
body {
  text-align: center;
}
body {
  color: white;
  background-color: black;
}
h1 {
  color: yellow
}
